[submodule "ms/pl/py/quantecon-mini-example"]
	path = ms/pl/py/quantecon-mini-example
	url = https://github.com/executablebooks/quantecon-mini-example
[submodule "ms/dt/jupyter-book"]
	path = ms/dt/jupyter-book
	url = https://github.com/executablebooks/jupyter-book.git
